*{
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif";
    padding: 10px;
    background: #F76902;
}

.header{
    padding: 30px;
    text-align: left;
    background: whitesmoke;
}

.header h1{
    font-size: 30px;
}

.topnav{
    overflow: hidden;
    background-color: grey;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 19px;
    padding: 20px 51px;
    margin: 0;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #FFAB5E;
    color:black;
}

.leftcolumn{
    float: left;
    width: 75%;
    background-color: whitesmoke;
}

/* This needs to be revised in order to not have
the links cascade weirdly.*/
.rightcolumn{
    float: left;
    width: 25%;
    background-color: grey;
    padding-left: 20px;
}

.leftcolumn h2{
    font-size: 35px;
}

.rightcolumn a{
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 20px;
    margin: 0;
    text-decoration: none;
}

.rightcolumn a:hover{
    background-color: black;
}

.searchbar{
    float: center;
    width: 75%;
}

.introvideo{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

ul{
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 10px;
}

/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    padding: 20px;
    text-align: left;
    background: whitesmoke;
    margin-top: 20px;
}

/* Responsive Layout - Screen is less than 800px */
@media screen and (max-width: 800px){
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
}

/* Responsive Layout - Screen is less than 400px */
@media screen and (max-width: 400px){
    .topnav a{
        float: none;
        width: 100%;
    }
}